.medium-desktops, .large-desktops {
    footer {
        display: block;
        width: 50%;
        position: relative;
        @extend %clearfix;
        height: 150px;
        margin-top: 50px;
        text-align: center;
        background: none;
    }

    .footer_logo {
        padding-top: 0;
    }
}
