.medium-desktops {

    header {
        @extend %clearfix;
    }

    .portfolio_navigation {
        width: 80%;
    }

    .portfolio_list_icon {
        font-size: 22px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .portfolio_list_desc {
        font-size: 15px;
        margin-top: 10px;
    }

    .portfolio_list_slider {
        height: 3px;
    }

    .portfolio_list_link:hover .portfolio_list_slider:after {
        height: 3px;
    }
}