.main-block {
    display: block;
    width: 50%;
    height: 33%;
    background-color: white;
}

.main-block p {
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 900;
    // font-style: italic;
}