.medium-desktops, .large-desktops {

    .portfolio_intro {
        clear: both;
        position: relative;
        background: url('../../../imgs/index/pics/main-bg6.jpg') no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }

    .portfolio_intro:before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient($navigation-hover-underline-color 0%, $portfolio-navigation-color-hover 100%);
        background: -moz-linear-gradient($navigation-hover-underline-color 0%, $portfolio-navigation-color-hover 100%);
        background: -o-linear-gradient($navigation-hover-underline-color 0%, $portfolio-navigation-color-hover 100%);
        background: linear-gradient($navigation-hover-underline-color 0%, $portfolio-navigation-color-hover 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc61aa5c', endColorstr='#e6235110',GradientType=0 );
    }

    .portfolio_intro_desc {
        @extend %clearfix;
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 350px;
    }

    .portfolio_intro_after_left {
        width: $portfolio-intro-after-width;
        border-bottom: $portfolio-intro-after-border-bottom;
        transform: rotate($portfolio-intro-after-rotate);
        transform-origin: 100% 0;
        position: absolute;
        bottom: $portfolio-intro-after-bottom;
        left: $portfolio-intro-after-left;
        box-sizing: content-box;
    }

    .portfolio_intro_after_right {
        width: $portfolio-intro-after-width;
        border-bottom: $portfolio-intro-after-border-bottom;
        transform: rotate(-$portfolio-intro-after-rotate);
        transform-origin: 0 100%;
        position: absolute;
        bottom: $portfolio-intro-after-bottom;
        right: $portfolio-intro-after-left;
        box-sizing: content-box;
    }

    .portfolio_intro_desc_text_1 {
        font-size: 25px;
        color: $portfolio-intro-desc-text-color-white;
        font-weight: bold;
        margin-bottom: $portfolio-intro-desc-text-margin-bottom;
    }

    .portfolio_intro_desc_text_2 {
        font-size: 23px;
        color: $portfolio-intro-desc-text-color-green;
        font-weight: bold;
        margin-bottom: $portfolio-intro-desc-text-margin-bottom;
    }

    .portfolio_intro_desc_text_3 {
        font-size: 25px;
        letter-spacing: 1px;
        color: $portfolio-intro-desc-text-color-white;
        font-weight: bold;
        margin-bottom: $portfolio-intro-desc-text-margin-bottom;
    }

    .portfolio_intro_desc_img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
    }

    .portfolio_intro_desc_text {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        position: absolute;
        top: 50%;
        margin-left: 60px;
        transform: translateY(-50%);
        width: 60%;
    }

    .portfolio_intro_message_me {
        font-family: "Capture", Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        display: inline-block;
        background: $portfolio-intro-desc-text-color-green;
        color: $portfolio-intro-desc-text-color-white;
        border-radius: 30px;
        height: 45px;
        line-height: 25px;
        padding: 6px 20px;
        font-size: 18px;
        margin-left: 80px;
        margin-top: 10px;
        text-decoration: none;
    }

    .portfolio_intro_message_me:hover {
        background: $portfolio-intro-desc-text-color-white;
        color: $portfolio-intro-desc-text-color-green;
        box-shadow: 0 0 0 3px $portfolio-intro-desc-text-color-green;
        transition: all 100ms ease-in-out;
    }

    .portfolio_intro_message_me_text {
        display: inline-block;
        position: relative;
        top: 2px;
    }

    .envelope {
        font-size: 25px;
        display: inline;
        position: relative;
        top: 4px;
    }

    .portfolio_intro_desc_text_show_hide {
        margin-top: 10px;
        color:  $portfolio-intro-desc-text-margin-orange;
    }
}