$intro-bg-color: $bg-color;

$portfolio-intro-after-width: 55%;
$portfolio-intro-after-border-bottom: 60px solid $intro-bg-color;
$portfolio-intro-after-rotate: 4deg;
$portfolio-intro-after-bottom: -60px;
$portfolio-intro-after-left: -10px;
$portfolio-intro-desc-text-color-white: white;
$portfolio-intro-desc-text-color-green: #1efb09; 
$portfolio-intro-desc-text-margin-bottom: 10px;
$portfolio-intro-desc-text-margin-orange: #ffcc00;
