<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/' + 'index/main-19a8b2b9b0.js') %>
<% block('requirejsPath', 'js/index/libs/') %>

<section class="main-block">
        Main block
</section>
<section class="portfolio">
    Portfolio
</section>
