.social-nav {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.social-nav-link {
    display: inline-block;
    margin-left: 20px;
}

.social-nav-link span {
    display: block;
}