// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$facebook-hover-name: 'facebook:hover';
$facebook-hover-x: 0px;
$facebook-hover-y: 0px;
$facebook-hover-offset-x: 0px;
$facebook-hover-offset-y: 0px;
$facebook-hover-width: 16px;
$facebook-hover-height: 16px;
$facebook-hover-total-width: 50px;
$facebook-hover-total-height: 33px;
$facebook-hover-image: '../../imgs/index/icons.png';
$facebook-hover: (0px, 0px, 0px, 0px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'facebook:hover', );
$facebook-name: 'facebook';
$facebook-x: 17px;
$facebook-y: 0px;
$facebook-offset-x: -17px;
$facebook-offset-y: 0px;
$facebook-width: 16px;
$facebook-height: 16px;
$facebook-total-width: 50px;
$facebook-total-height: 33px;
$facebook-image: '../../imgs/index/icons.png';
$facebook: (17px, 0px, -17px, 0px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'facebook', );
$linkedin-hover-name: 'linkedin:hover';
$linkedin-hover-x: 0px;
$linkedin-hover-y: 17px;
$linkedin-hover-offset-x: 0px;
$linkedin-hover-offset-y: -17px;
$linkedin-hover-width: 16px;
$linkedin-hover-height: 16px;
$linkedin-hover-total-width: 50px;
$linkedin-hover-total-height: 33px;
$linkedin-hover-image: '../../imgs/index/icons.png';
$linkedin-hover: (0px, 17px, 0px, -17px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'linkedin:hover', );
$linkedin-name: 'linkedin';
$linkedin-x: 17px;
$linkedin-y: 17px;
$linkedin-offset-x: -17px;
$linkedin-offset-y: -17px;
$linkedin-width: 16px;
$linkedin-height: 16px;
$linkedin-total-width: 50px;
$linkedin-total-height: 33px;
$linkedin-image: '../../imgs/index/icons.png';
$linkedin: (17px, 17px, -17px, -17px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'linkedin', );
$skype-hover-name: 'skype:hover';
$skype-hover-x: 34px;
$skype-hover-y: 0px;
$skype-hover-offset-x: -34px;
$skype-hover-offset-y: 0px;
$skype-hover-width: 16px;
$skype-hover-height: 16px;
$skype-hover-total-width: 50px;
$skype-hover-total-height: 33px;
$skype-hover-image: '../../imgs/index/icons.png';
$skype-hover: (34px, 0px, -34px, 0px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'skype:hover', );
$skype-name: 'skype';
$skype-x: 34px;
$skype-y: 17px;
$skype-offset-x: -34px;
$skype-offset-y: -17px;
$skype-width: 16px;
$skype-height: 16px;
$skype-total-width: 50px;
$skype-total-height: 33px;
$skype-image: '../../imgs/index/icons.png';
$skype: (34px, 17px, -34px, -17px, 16px, 16px, 50px, 33px, '../../imgs/index/icons.png', 'skype', );
$spritesheet-width: 50px;
$spritesheet-height: 33px;
$spritesheet-image: '../../imgs/index/icons.png';
$spritesheet-sprites: ($facebook-hover, $facebook, $linkedin-hover, $linkedin, $skype-hover, $skype, );
$spritesheet: (50px, 33px, '../../imgs/index/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
