<nav class="social-nav">
    <a href="#" class="social-nav-link"><span class="facebook"></span></a>
    <a href="#" class="social-nav-link"><span class="linkedin"></span></a>
    <a href="#" class="social-nav-link"><span class="skype"></span></a>
</nav>