<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Final</title>
         <script data-main="js/dist/main-opt" src="js/dist/libs/require.js"></script> 
         <!-- <script data-main="js/dist/main" src="js/dist/libs/require.js"></script>  -->
        <link rel="stylesheet" href="css/dist/core.css">
    </head>
    <body>
        <header>
            <div class="header_register_block">
                <div class="header_register">
                    <a class="header_register__login" href="#">Log in</a>
                    <a class="header_register__signup" href="#">Sign up</a>
                </div>
                <p class="header_main__p1">urlaubsglück</p>
            </div>
            <div class="header_main">
                <p class="header_main__p2">Share your holiday dreams</p>
                <p class="header_main__p3">And find the perfect partner to fulfill it</p>
                <a href="#" class="header_main__p4">Find your holiday partner</a>
            </div>
        </header>
        <section class="how_it_works">
            <p class="how_it_works__header">
                How Urlaubsglück works?
            </p>
            <div class="how_it_works__picture_blocks">
                <div class="how_it_works__picture_block how_it_works__picture_block--first">
                    <div class="how_it_works__picture_block_inner">
                        <div class="how_it_works__picture_block_content">
                            <h5 class="how_it_works__h5">step 1</h5>
                            <h2 class="how_it_works__h2">Sed leo enim, condimentum</h2>
                            <p class="how_it_works__text">Quieque libero leibero, dictum non turpi in, luctus semper lorem.
                                Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                </div>
                <div class="how_it_works__picture_block how_it_works__picture_block--second">
                    <div class="how_it_works__picture_block_inner">
                        <div class="how_it_works__picture_block_content">
                            <h5 class="how_it_works__h5">step 2</h5>
                            <h2 class="how_it_works__h2">Morbi velit risus</h2>
                            <p class="how_it_works__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                                sit amet portittor est.</p>
                        </div>
                    </div>
                </div>
                <div class="how_it_works__picture_block how_it_works__picture_block--third">
                    <div class="how_it_works__picture_block_inner">
                        <div class="how_it_works__picture_block_content">
                            <h5 class="how_it_works__h5">step 3</h5>
                            <h2 class="how_it_works__h2">Sed leo enim, condimentum</h2>
                            <p class="how_it_works__text">Quieque libero leibero, dictum non turpi in, luctus semper lorem.
                                Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <p class="partners__header">
                Meet a partner for your best holiday
            </p>
            <div class="partner__views">
                <figure class="partner__view">
                    <div class="partner__view_picture_block">
                        <img srcset="img/dist/Partner1.jpg 122w, img/dist/Partner1@2x.jpg 224w"
                             alt="" src="img/dist/Partner1.jpg" sizes="122px"
                             width="122" height="122" class="partner__view_picture">
                        <div class="partner__view_icon">
                            <div class="partner__view_icon_picture partner__view_icon_picture--partner1"></div>
                        </div>
                    </div>
                    <figcaption class="partner__view_signature1">Brandley Hunter</figcaption>
                    <figcaption class="partner__view_signature2">
                        Based in Chicago. I love playing tennis and loud music
                    </figcaption>
                </figure>
                <figure class="partner__view">
                    <div class="partner__view_picture_block">
                        <img srcset="img/dist/Partner2.jpg 122w, img/dist/Partner2@2x.jpg 224w"
                             alt="" src="img/dist/Partner2.jpg" sizes="122px"
                             width="122" height="122" class="partner__view_picture">
                        <div class="partner__view_icon">
                            <div class="partner__view_icon_picture partner__view_icon_picture--partner2"></div>
                        </div>
                    </div>
                    <figcaption class="partner__view_signature1">Lucas Marsha</figcaption>
                    <figcaption class="partner__view_signature2">
                        I get my inspiration from nature and objects around me. I have a passion to colours,
                        typography and skateboards.
                    </figcaption>
                </figure>
                <figure class="partner__view">
                    <div class="partner__view_picture_block">
                        <img srcset="img/dist/Partner3.jpg 122w, img/dist/Partner3@2x.jpg 224w"
                             alt="" src="img/dist/Partner3.jpg" sizes="122px"
                             width="122" height="122" class="partner__view_picture">
                        <div class="partner__view_icon">
                            <div class="partner__view_icon_picture partner__view_icon_picture--partner3"></div>
                        </div>
                    </div>
                    <figcaption class="partner__view_signature1">Heather Walker</figcaption>
                    <figcaption class="partner__view_signature2">
                        I'm a happy person that loves cats and climbing on mountains.
                    </figcaption>
                </figure>
                <figure class="partner__view">
                    <div class="partner__view_picture_block">
                        <img srcset="img/dist/Partner4.jpg 122w, img/dist/Partner4@2x.jpg 224w"
                             alt="" src="img/dist/Partner4.jpg" sizes="122px"
                             width="122" height="122" class="partner__view_picture">
                        <div class="partner__view_icon">
                            <div class="partner__view_icon_picture partner__view_icon_picture--partner4"></div>
                        </div>
                    </div>
                    <figcaption class="partner__view_signature1">Brandley Hunter</figcaption>
                    <figcaption class="partner__view_signature2">
                        Based in Chicago. I love playing tennis and loud music
                    </figcaption>
                </figure>
            </div>
            <a href="#" class="partners__search">
                See other partners
            </a>
        </section>
        <section class="discover_holiday">
            <h2 class="discover_holiday_header">
                Discover holiday activity ideas
            </h2>
            <div class="discover_holiday_blocks">
                <script type="text/html" id="discover_holiday_block_template">
                    <div class="discover_holiday_block discover_holiday_block--<%= id %>">
                        <a href="#" class="discover_holiday_block_content"
                           data-category="<%= category %>">
                            <p class="discover_holiday_block__text"><%= text %></p>
                        </a>
                    </div>
                </script>
            </div>
            <h2 class="discover_holiday_header">
                Discover holiday activity ideas
            </h2>
            <div class="discover_holiday_search_box">
                <p class="discover_holiday_search_box__text">Hi! What are your holiday interests?</p>
                <div class="discover_holiday_search_box__input_wrap">
                    <input class="discover_holiday_search_box__input" type="text" placeholder="Enter your interests">
                    <em class="discover_holiday_search_box__link__error"></em>
                </div>
                <a href="#" class="discover_holiday_search_box__link">Search partners</a>
                <hr class="discover_holiday_search_box__line">
            </div>
        </section>
        <footer>
            <p class="footer_header">
                urlaubsglück
            </p>
            <nav class="footer_navigation">
                <ul class="footer_navigation_list">
                    <h2>Company</h2>
                    <li class="footer_navigation_list__item">
                        <a href="" class="footer_navigation_list__item__link">
                            About
                        </a>
                    </li>
                    <li class="footer_navigation_list__item">
                        <a href="" class="footer_navigation_list__item__link">
                            Contacts
                        </a>
                    </li>
                    <li class="footer_navigation_list__item">
                        <a href="" class="footer_navigation_list__item__link">
                            Press
                        </a>
                    </li>
                    <li class="footer_navigation_list__item">
                        <a href="" class="footer_navigation_list__item__link">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="footer_footer">
                Partners
            </p>
            <div class="foto_logo">
                <p class="footer_logo_text">
                    Designed by
                </p>
                <span class="footer_logo_designer"></span>
            </div>
        </footer>
    </body>
</html>