.error_block {
    height: 200px;
    line-height: 200px;
}

.error_block_message {
    font-size: 18px;
    margin-left: 160px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $portfolio-navigation-color-hover;
}