<header>
    <%- partial('./topnavbar') %>
    <div class="about_logo">
        <p class="about_logo_name">Vlad Khrystenko</p>
        <p class="about_logo_text">Full stack web developer and designer</p>
    </div>
</header>