<header>
    <%- partial('./topnavbar') %>
    <div class="header_logo">
        <p class="header_logo_name">Vlad Khrystenko</p>
        <p class="header_logo_text">Full stack web developer and designer</p>
    </div>
</header>