<div class="portfolio_container_block">
    <a href="projects/<%= path %>" class="portfolio_block_link portfolio_block_link_category">
        <img src="imgs/index/pics/<%= name %>.jpg" alt="" 
            class="portfolio_block_link_bg portfolio_block_link_category_bg">
    </a>
    <p class="portfolio_block_text"><%= readme %></p>
</div>