<nav class="social-nav">
    <a href="#" class="social-nav-link"><span class="Facebook"></span></a>
    <a href="#" class="social-nav-link"><span class="Linkedin"></span></a>
    <a href="#" class="social-nav-link"><span class="Skype"></span></a>
    <a href="#" class="social-nav-link"><span class="Twitter"></span></a>
    <a href="#" class="social-nav-link"><span class="Github"></span></a>
</nav>