<nav class="portfolio_navigation">
        <ul class="portfolio_list">
            <li class="portfolio_list_item">
                <a href="#" class="portfolio_list_link" onclick="event.preventDefault()">
                    <span class="portfolio_list_icon glyphicon glyphicon-home">
                    </span>
                    <p class="portfolio_list_desc">
                        Home
                    </p>
                    <span class="portfolio_list_slider portfolio_list_slider--first"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="#" class="portfolio_list_link" onclick="event.preventDefault()">
                    <span class="portfolio_list_icon">
                        &#10000;
                    </span>
                    <p class="portfolio_list_desc">
                        Portfolio
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="about" class="portfolio_list_link">
                    <span class="portfolio_list_icon">
                        &#9733;
                    </span>
                    <p class="portfolio_list_desc">
                        About Me
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="contact" class="portfolio_list_link">
                    <span class="portfolio_list_icon">
                        &#128222;
                    </span>
                    <p class="portfolio_list_desc">
                        Contacts
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
        </ul>
    </nav>