.social-nav {
    display: inline-block;
}


.social-nav-link:first-child {
    margin-left: 0;
}

.social-nav-link {
    display: inline-block;
    margin-left: 20px;
}

.social-nav-link span {
    display: block;
}