/*TABLET*/
$header-register-padding-tablet: 30px;
$header-register-block-max-width-desktop: 960px;
$header-main-p2-padding-top-tablet: 100px;
$header-main-p2-font-size-tablet: 35px;
$header-main-p2-font-line-height-tablet: 45px;
$header-main-p4-font-size-tablet: 13px;

$how-it-works-section-header-font-size-tablet: 19px;
$how-it-works-section-picture-block-inner-margins-tablet: 0 10px 0 10px;
$how-it-works-section-picture-block-width-tablet: 33%;
$how-it-works-section-picture-block-height-tablet: 270px;
$how-it-works-section-picture-block-height-desktop: 350px;
$how-it-works-section-picture-content-h5-font-size-tablet: 7px;
$how-it-works-section-picture-content-h2-font-size-tablet: 18px;
$how-it-works-section-picture-content-text-font-size-tablet: 12px;
$how-it-works-section-picture-content-text-line-height-tablet: 13px;
$how-it-works-section-picture-content-text-padding-left-tablet: 10px;
$partners-header-font-size-tablet: 18px;
$partners-search-font-size-tablet: 11px;


$discover-holiday-header-font-size-tablet: 17px;
$discover-holiday-block-text-font-size-tablet: 18px;
$discover-holiday-block-height-tablet: $discover-holiday-block-height * 2;
$discover-holiday-block-width-tablet-normal: 33%;
$discover-holiday-block-width-tablet-double: $discover-holiday-block-width-tablet-normal * 2;
$discover-holiday-search-box-link-height-tablet: 40px;
$discover-holiday-search-box-link-border-radius-tablet: 20px;
$discover-holiday-search-box-input-font-size-tablet: 12px;
$discover-holiday-search-box-input-width: 250px;
$discover-holiday-search-box-link-error-font-size-tablet: 18px;

/*DESKTOP*/
