<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('style', 'css/index/style.css') %>
<% block('main', '/js/index/main') %>
<% block('requirejsPath', '/js/index/libs/') %>

<section class="main-block">
        Main block
</section>
<section class="portfolio">
    Portfolio
</section>

