<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('style', 'css/index/style.css') %>

<section class="main-block">
        Main block
</section>
<section class="portfolio">
    Portfolio
</section>

