%clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

body {
    background: #fafafa;
    position: relative;
}

span {
    display: block;
}

.medium-desktops, .large-desktops {
    .centering_block {
        max-width: 1200px;
        margin: 0 auto;
        @extend %clearfix;
    }
}