%clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

body {
    background: #f2fffa;
}

span {
    display: block;
}

.medium-desktops, .large-desktops {
    width: 1200px;
    margin: 0 auto;
}