.medium-desktops, .large-desktops {

    header {
        width: 100%;
        padding: 20px 0 0 0;
    }

    .portfolio_navigation {
        font-family: "Roboto" , Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        margin: 0 auto;
    }

    .portfolio_list {
        @extend %clearfix;
    }

    .portfolio_list_item {
        width: 25%;
        text-align: center;
        display: block;
        float: left;
    }

    .portfolio_list_link {
        text-decoration: none;
        display: block;
        color: $portfolio-navigation-color;
    }

    .portfolio_list_link:hover,
    .portfolio_list_link:hover .portfolio_list_icon {
        text-decoration: none;
        display: block;
        color: $portfolio-navigation-color-hover;
        transition: color 500ms linear;
    }

    .portfolio_list_link:hover .portfolio_list_icon {
        border: solid 2px $portfolio-navigation-color-hover;
    }

    .portfolio_list_icon {
        font-size: $portfolio-navigation-text-size;
        border: solid 2px $portfolio-navigation-color;
        box-sizing: content-box;
        display: block;
        width: $portfolio-navigation-list-icon-size;
        height: $portfolio-navigation-list-icon-size;
        line-height: $portfolio-navigation-list-icon-size;
        border-radius: 50%;
        margin: 0 auto;
    }

    .portfolio_list_desc {
        display: block;
        margin-top: 20px;
    }

    .portfolio_list_slider {
        position: relative;
        width: 100%;
        display: block;
        height: $portfolio-navigation-list-slider-size;
        margin-top: 10px;
        position: relative;
        top: 3px;
    }

    .portfolio_list_slider:after {
        position: absolute;
        content: "";
        right: 50%;
        left: 50%;
    }

    .portfolio_list_slider--active:after {
        background: $navigation-hover-underline-color;
        right: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .portfolio_list_link:hover  .portfolio_list_slider:after {
        content: "";
        right: 0px;
        left: 0px;
        display: block;
        background: $navigation-hover-underline-color;
        height: $portfolio-navigation-list-slider-size;
        transition-property: left, right;
        transition-duration: 0.3s;
    }

    .portfolio_navigation {
        float: right;
        width: 50%;
    }

    .portfolio_list_desc {
        margin-top: 9px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .header_logo {
        position: relative;
        margin-left: 60px;
        float: left;
        font-size: $portfolio-navigation-text-size;
    }
    
    .header_logo_name {
        margin-bottom: 10px;
    }

    .header_logo_texts {
        font-family: "Monserrat", Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-left: 30px;
        color: $portfolio-navigation-color-hover;
    }

    .header_logo_LOGO {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header_underline {
        border-bottom: 1px solid $portfolio-navigation-underline-color;
        border-top: 1px solid $portfolio-navigation-underline-color;
        height: 2*$portfolio-navigation-list-slider-size;
        clear: both;
    }
}