$bg-color: #e6f9ff;
$navigation-hover-underline-color: #ffccf2;
$portfolio-navigation-color: #808080;
$portfolio-navigation-color-hover: #444;
$portfolio-navigation-underline-color: #d2d2d2;

$portfolio-navigation-list-icon-size: 40px;
$portfolio-navigation-list-slider-size: 2px;
$portfolio-navigation-text-size: 18px;