$bg-color: #fafafa;
$navigation-hover-underline-color: rgba(97, 170, 92, 0.8);
$navigation-hover-underline-color2: rgba(97, 170, 92, 1);
$portfolio-navigation-color: #808080;
$portfolio-navigation-color-hover: rgba(35, 81, 16, 1);
$portfolio-navigation-underline-color: #d2d2d2;

$portfolio-navigation-list-icon-size: 40px;
$portfolio-navigation-list-slider-size: 2px;
$portfolio-navigation-text-size: 18px;
$portfolio-intro-desc-text-orange: #ffcc00;
$portfolio-intro-desc-color-white: white;
$portfolio-intro-desc-color-green: #1efb09; 
