<% layout('layouts/commonPage') -%>
<% block('title', 'About me') %>
<% block('main', 'js/about/main.js') %>

<header>
    <%- partial('partials/topnavbar') %>
    <div class="about_logo">
        <p class="about_logo_name">Vlad Khrystenko</p>
        <p class="about_logo_text">Full stack web developer and designer</p>
    </div>
</header>
<section class="about_intro">
    <p class="about_intro_text">
        Hello there, I am Vlad. I am obsessed by creating functional and big web projects. 
        Here you can find what I can do:
    </p>
</section>
<section class="about_services">
    <div class="about_services_service_block">
        <div class="about_services_service_block_img">
            <span class="about_services_service_block_img_icon tablet"></span>
            <p class="about_services_service_block_img_text">
                Web Development
            </p>
            <hr class="about_services_service_block_img_line">
        </div>
        <div class="about_services_service_block_service">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
    <div class="about_services_service_block">
        <div class="about_services_service_block_img">
            <span class="about_services_service_block_img_icon screen"></span>
            <p class="about_services_service_block_img_text">
                Web Design
            </p>
        </div>
        <div class="about_services_service_block_service">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
</section>

