<% layout('layouts/commonPage') -%>
<% block('title', 'About me') %>
<% block('main', 'js/about/main.js') %>

 <%- partial('partials/commonHeader') %>
<section class="about_me">
    <div class="about_me_block">
        <img src="imgs/index/pics/Me.jpg" class="about_me_img" alt="">
    </div>
    <div class="about_me_block">
        <h1 class="about_me_text_header">About me</h1>
        <p class="about_me_text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Distinctio aperiam, dolore similique rerum mollitia 
            in repellat molestiae! Ratione animi, nulla quos tempore, 
            porro quam cumque ipsum nobis, vel dolore voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Distinctio aperiam, dolore similique rerum mollitia 
            in repellat molestiae! Ratione animi, nulla quos tempore, 
            porro quam cumque ipsum nobis, vel dolore voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Distinctio aperiam, dolore similique rerum mollitia 
            in repellat molestiae! Ratione animi, nulla quos tempore, 
            porro quam cumque ipsum nobis, vel dolore voluptas.
        </p>
    </div>
</section>
<section class="about_intro">
    <p class="about_intro_text">
        Hello there, I am Vlad. I am obsessed by creating functional and big web projects. 
        Here you can find what I can do:
    </p>
</section>
<section class="about_services">
    <div class="about_services_service_block">
        <div class="about_services_service_block_img">
            <span class="about_services_service_block_img_bg">
                <span class="about_services_service_block_img_icon tablet"></span>
            </span>
            <p class="about_services_service_block_img_text">
                Web Development
            </p>
            <hr class="about_services_service_block_img_line">
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img html5"></span>
            <p class="about_services_service_block_service_text">Modern html5 page markup</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img css3"></span>
            <p class="about_services_service_block_service_text">CSS3 styling</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img jsicon"></span>
            <p class="about_services_service_block_service_text">Application development by ES6 standard</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img animation"></span>
            <p class="about_services_service_block_service_text">Creating animations on web sites</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img performance"></span>
            <p class="about_services_service_block_service_text">Creating fast and user friendly sites</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img jquery"></span>
            <p class="about_services_service_block_service_text">Using jQuery</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img nodejs"></span>
            <p class="about_services_service_block_service_text">Creating backend side by using nodejs frameworks</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img diagram"></span>
            <p class="about_services_service_block_service_text">Effective site optimisation</p>
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img laptop"></span>
            <p class="about_services_service_block_service_text">Effective site management</p>
        </div>
    </div>
    <div class="about_services_service_block">
        <div class="about_services_service_block_img">
            <span class="about_services_service_block_img_bg">
                <span class="about_services_service_block_img_icon screen"></span>
            </span>
            <p class="about_services_service_block_img_text">
                Web Design
            </p>
            <hr class="about_services_service_block_img_line">
        </div>
        <div class="about_services_service_block_service">
            <span class="about_services_service_block_service_img ps"></span>
            <p class="about_services_service_block_service_text">Design page by using photoshop CC software</p>
        </div>
    </div>
</section>
<%- partial('partials/commonFooter') %>

