<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/index/main.js') %>

<section class="main-block">
        <h1>Main block</h1>
        <hr>
        <p>
            Helvetica Thin ItalicHelvetica Thin ItalicHelvetica Thin Italic
            Helvetica Thin ItalicHelvetica Thin ItalicHelvetica Thin Italic
            Helvetica Thin ItalicHelvetica Thin ItalicHelvetica Thin Italic
        </p>
        <hr>
        <p>
            Helvetica NormalHelvetica NormalHelvetica NormalHelvetica Normal
            Helvetica NormalHelvetica NormalHelvetica NormalHelvetica Normal
            Helvetica NormalHelvetica NormalHelvetica NormalHelvetica Normal
        </p>
        <hr>
        <p>
            Helvetica MediumHelvetica MediumHelvetica MediumHelvetica Medium
            Helvetica MediumHelvetica MediumHelvetica MediumHelvetica Medium
            Helvetica MediumHelvetica MediumHelvetica MediumHelvetica Medium
        </p>
        <hr>
        <p>
            Helvetica BoldHelvetica BoldHelvetica BoldHelvetica BoldHelvetica Bold
            Helvetica BoldHelvetica BoldHelvetica BoldHelvetica BoldHelvetica Bold
            Helvetica BoldHelvetica BoldHelvetica BoldHelvetica BoldHelvetica Bold
        </p>
        <hr>
        <p>
            Open Sans LightOpen Sans LightOpen Sans LightOpen Sans LightOpen Sans Light
            Open Sans LightOpen Sans LightOpen Sans LightOpen Sans LightOpen Sans Light
            Open Sans LightOpen Sans LightOpen Sans LightOpen Sans LightOpen Sans Light
        </p>
        <hr>
        <p>
            Open Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans Italic
            Open Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans Italic
            Open Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans ItalicOpen Sans Italic
        </p>
        <hr>
        <p>
            Open Sans RegularOpen Sans RegularOpen Sans RegularOpen Sans Regular
            Open Sans RegularOpen Sans RegularOpen Sans RegularOpen Sans Regular
            Open Sans RegularOpen Sans RegularOpen Sans RegularOpen Sans Regular
        </p>
        <hr>
        <p>
            Open Sans Regular ItalicOpen Sans Regular ItalicOpen Sans Regular Italic
            Open Sans Regular ItalicOpen Sans Regular ItalicOpen Sans Regular Italic
            Open Sans Regular ItalicOpen Sans Regular ItalicOpen Sans Regular Italic
        </p>
        <hr>
        <p>
            Open Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans Bold
            Open Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans Bold
            Open Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans BoldOpen Sans Bold
        </p>
        <hr>
        <p>
            Open Sans Bold ItalicOpen Sans Bold ItalicOpen Sans Bold Italic
            Open Sans Bold ItalicOpen Sans Bold ItalicOpen Sans Bold Italic
            Open Sans Bold ItalicOpen Sans Bold ItalicOpen Sans Bold Italic
        </p>
        <hr>
        <p>
            Roboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto Thin
            Roboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto Thin
            Roboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto ThinRoboto Thin
        </p>
        <hr>
        <p>
            Roboto Thin ItalicRoboto Thin ItalicRoboto Thin ItalicRoboto Thin Italic
            Roboto Thin ItalicRoboto Thin ItalicRoboto Thin ItalicRoboto Thin Italic
            Roboto Thin ItalicRoboto Thin ItalicRoboto Thin ItalicRoboto Thin Italic
        </p>
        <hr>
        <p>
            Roboto LightRoboto LightRoboto LightRoboto LightRoboto LightRoboto Light
            Roboto LightRoboto LightRoboto LightRoboto LightRoboto LightRoboto Light
            Roboto LightRoboto LightRoboto LightRoboto LightRoboto LightRoboto Light
        </p>
        <hr>
        <p>
            Roboto Light ItalicRoboto Light ItalicRoboto Light ItalicRoboto Light Italic
            Roboto Light ItalicRoboto Light ItalicRoboto Light ItalicRoboto Light Italic
            Roboto Light ItalicRoboto Light ItalicRoboto Light ItalicRoboto Light Italic
        </p>
        <hr>
        <p>
            Roboto RegularRoboto RegularRoboto RegularRoboto RegularRoboto Regular
            Roboto RegularRoboto RegularRoboto RegularRoboto RegularRoboto Regular
            Roboto RegularRoboto RegularRoboto RegularRoboto RegularRoboto Regular
        </p>
        <hr>
        <p>
            Roboto Regular ItalicRoboto Regular ItalicRoboto Regular Italic
            Roboto Regular ItalicRoboto Regular ItalicRoboto Regular Italic
            Roboto Regular ItalicRoboto Regular ItalicRoboto Regular Italic
        </p>
        <hr>
        <p>
            Roboto MediumRoboto MediumRoboto MediumRoboto MediumRoboto Medium
            Roboto MediumRoboto MediumRoboto MediumRoboto MediumRoboto Medium
            Roboto MediumRoboto MediumRoboto MediumRoboto MediumRoboto Medium
        </p>
        <hr>
        <p>
            Roboto Medium ItalicRoboto Medium ItalicRoboto Medium ItalicRoboto Medium Italic
            Roboto Medium ItalicRoboto Medium ItalicRoboto Medium ItalicRoboto Medium Italic
            Roboto Medium ItalicRoboto Medium ItalicRoboto Medium ItalicRoboto Medium Italic
        </p>
        <hr>
        <p>
            Roboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto Bold
            Roboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto Bold
            Roboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto BoldRoboto Bold
        </p>
        <hr>
        <p>
            Roboto Bold ItalicRoboto Bold ItalicRoboto Bold ItalicRoboto Bold Italic
            Roboto Bold ItalicRoboto Bold ItalicRoboto Bold ItalicRoboto Bold Italic
            Roboto Bold ItalicRoboto Bold ItalicRoboto Bold ItalicRoboto Bold Italic
        </p>
        <hr>
        <p>
            Roboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto Black
            Roboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto Black
            Roboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto BlackRoboto Black
        </p>
        <hr>
        <p>
            Roboto Black ItalicRoboto Black ItalicRoboto Black ItalicRoboto Black Italic
            Roboto Black ItalicRoboto Black ItalicRoboto Black ItalicRoboto Black Italic
            Roboto Black ItalicRoboto Black ItalicRoboto Black ItalicRoboto Black Italic
        </p>
        <hr>
</section>
<section class="portfolio">
    <h1>Portfolio</h1>
</section>
