<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/index/main.js') %>

<section class="main-block">
        <h1>Main block</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Iure ipsa, impedit modi, nisi aliquam qui eligendi sapiente, debitis, 
            animi repudiandae repellendus. Fugiat, aliquam sapiente laudantium 
            facilis accusamus eveniet vitae culpa!
        </p>
</section>
<section class="portfolio">
    <h1>Portfolio</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Iure ipsa, impedit modi, nisi aliquam qui eligendi sapiente, debitis, 
        animi repudiandae repellendus. Fugiat, aliquam sapiente laudantium 
        facilis accusamus eveniet vitae culpa!
    </p>
</section>
