<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/index/main.js') %>

<header>
    <%- partial('partials/topnavbar') %>
</header>
<section class="portfolio_intro">
    <div class="portfolio_intro_desc">
        <img src="imgs/index/pics/Me.jpg" alt="" class="portfolio_intro_desc_img">
        <p class="portfolio_intro_desc_text">
            Hello. My name is Vlad. I'm a Web Developer. I create high quality websites.
            Please, contact me without any hesitation and for any projects.
        </p>
    </div>
    <a href="" class="portfolio_intro_message_me">
        <p class="portfolio_intro_message_me_text">
                Yes, I'm ready to help you
        </p>
        <span class="envelope">
            &#9993;
        </span>

    </a>
</section>
<section class="portfolio">
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/htmlcss" class="portfolio_block_link portfolio_block_link_category">
            <img src="imgs/index/pics/htmlcss.jpg" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_category_bg">
        </a>
        <p class="portfolio_block_text">Pure html/css projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/htmlcssjs" class="portfolio_block_link portfolio_block_link_category">
            <img src="imgs/index/pics/htmlcssjs.png" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_category_bg">
        </a>
        <p class="portfolio_block_text">html/css/js projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/js" class="portfolio_block_link portfolio_block_link_category">
            <img src="imgs/index/pics/js.png" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_category_bg">
        </a>
        <p class="portfolio_block_text">JS projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/js/tennis" class="portfolio_block_link">
            <img src="imgs/index/pics/tennis.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Old school tennis game written on JavaScript</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/cadastre" class="portfolio_block_link">
            <img src="imgs/index/pics/cadastre.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Little pretty form</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/zazor" class="portfolio_block_link">
            <img src="imgs/index/pics/zazor.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page for selling tyres</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/pingbuller" class="portfolio_block_link">
            <img src="imgs/index/pics/pingbuller.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Responsive and crossbrowser web page</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcssjs/holiday" class="portfolio_block_link">
            <img src="imgs/index/pics/holiday.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with adaptive slider and masonry for retina scrrens</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcssjs/business" class="portfolio_block_link">
            <img src="imgs/index/pics/business.jpg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with slider and jQuery menu</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/horloge" class="portfolio_block_link">
            <img src="imgs/index/pics/clock.jpg" alt="" class="portfolio_block_link_bg 
                                                                portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Pretty clock using css and jquery</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/js/google" class="portfolio_block_link">
            <img src="imgs/index/pics/google.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">My own google search engine imitation</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/asia" class="portfolio_block_link">
            <img src="imgs/index/pics/asia.jpeg" alt="" class="portfolio_block_link_bg
                                                            portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Yet another pretty web page</p>
    </div>
</section>

<footer>
    <div class="portfolio_footer_block">
        <p class="footer_logo">
            Handmade by me &copy; 2017.
        </p>
        <%- partial('partials/socialNavigation') %>
    </div>
</footer>
