<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/index/main.js') %>

<%- partial('partials/commonHeader') %>
<section class="portfolio_intro">
    <div class="centering_block">
        <div class="portfolio_intro_desc">
            <img src="imgs/index/pics/main-pc.png" alt="" class="portfolio_intro_desc_img">
            <div class="portfolio_intro_desc_text">
                <p class="portfolio_intro_desc_text_1">
                    Hi there!
                </p>
                <p class="portfolio_intro_desc_text_2">
                    I am Vlad - a web developer. I can help you create a high quality website.
                </p>
                <p class="portfolio_intro_desc_text_3">
                    Here is my portfolio site.
                </p>
            </div>
            <a href="" class="portfolio_intro_message_me">
                <p class="portfolio_intro_message_me_text">
                        Contact me
                </p>
                <span class="envelope">
                    &#9993;
                </span>
            </a>
        </div>
    </div>
    <div class="portfolio_intro_after_left">
    </div>
    <div class="portfolio_intro_after_right">
    </div>
</section>
<section class="portfolio">
    <div class="portfolio_container_block portfolio_container_block--disabled arrow">
        <a href="#" class="portfolio_block_link portfolio_block_link">
            <img src="imgs/index/pics/arrow.jpg" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Go back</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/htmlcss" class="portfolio_block_link portfolio_block_link">
            <img src="imgs/index/pics/htmlcss.jpg" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Pure html/css projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/htmlcssjs" class="portfolio_block_link portfolio_block_link">
            <img src="imgs/index/pics/htmlcssjs.png" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">html/css/js projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--enabled">
        <a href="projects/js" class="portfolio_block_link portfolio_block_link">
            <img src="imgs/index/pics/js.png" alt="" 
                class="portfolio_block_link_bg portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">JS projects</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/js/tennis" class="portfolio_block_link">
            <img src="imgs/index/pics/tennis.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Old school tennis game written on JavaScript</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/cadastre" class="portfolio_block_link">
            <img src="imgs/index/pics/cadastre.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Little pretty form</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/zazor" class="portfolio_block_link">
            <img src="imgs/index/pics/zazor.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page for selling tyres</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/pingbuller" class="portfolio_block_link">
            <img src="imgs/index/pics/pingbuller.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Responsive and crossbrowser web page</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcssjs/holiday" class="portfolio_block_link">
            <img src="imgs/index/pics/holiday.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with adaptive slider and masonry for retina scrrens</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcssjs/business" class="portfolio_block_link">
            <img src="imgs/index/pics/business.jpg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with slider and jQuery menu</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/horloge" class="portfolio_block_link">
            <img src="imgs/index/pics/clock.jpg" alt="" class="portfolio_block_link_bg 
                                                                portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Pretty clock using css and jquery</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/js/google" class="portfolio_block_link">
            <img src="imgs/index/pics/google.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">My own google search engine imitation</p>
    </div>
    <div class="portfolio_container_block portfolio_container_block--disabled">
        <a href="projects/htmlcss/asia" class="portfolio_block_link">
            <img src="imgs/index/pics/asia.jpeg" alt="" class="portfolio_block_link_bg
                                                            portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Yet another pretty web page</p>
    </div>
</section>
<footer>
    <div class="portfolio_footer_block">
        <p class="footer_logo">
            Handmade by me &copy; 2017.
        </p>
        <%- partial('partials/socialNavigation') %>
    </div>
</footer>
