<% layout('layouts/commonPage') -%>
<% block('title', 'Portfolio') %>
<% block('main', 'js/index/main.js') %>


<header>
    <nav class="portfolio_navigation">
        <ul class="portfolio_list">
            <li class="portfolio_list_item">
                <a href="#" class="portfolio_list_link" onclick="event.preventDefault()">
                    <span class="portfolio_list_icon glyphicon glyphicon-home">
                    </span>
                    <p class="portfolio_list_desc">
                        Home
                    </p>
                    <span class="portfolio_list_slider portfolio_list_slider--first"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="#" class="portfolio_list_link" onclick="event.preventDefault()">
                    <span class="portfolio_list_icon">
                        &#10000;
                    </span>
                    <p class="portfolio_list_desc">
                        Portfolio
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="about" class="portfolio_list_link">
                    <span class="portfolio_list_icon">
                        &#9733;
                    </span>
                    <p class="portfolio_list_desc">
                        About Me
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
            <li class="portfolio_list_item">
                <a href="#" class="portfolio_list_link" onclick="event.preventDefault()">
                    <span class="portfolio_list_icon">
                        &#128222;
                    </span>
                    <p class="portfolio_list_desc">
                        Contacts
                    </p>
                    <span class="portfolio_list_slider"></span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<section class="portfolio_intro">
    <div class="portfolio_intro_desc">
        <img src="imgs/index/pics/Me.jpg" alt="" class="portfolio_intro_desc_img">
        <p class="portfolio_intro_desc_text">
            Hello. My name is Vlad. I'm a Web Developer. I create high quality websites.
            Please, contact me without any hesitation and for any project. 
        </p>
    </div>
    <a href="" class="portfolio_intro_message_me">
        <p class="portfolio_intro_message_me_text">
                Yes, I'm ready to help you
        </p>
        <span class="envelope">
            &#9993;
        </span>

    </a>
</section>
<section class="portfolio">
    <div class="portfolio_container_block">
        <a href="projects/tennis" class="portfolio_block_link">
            <img src="imgs/index/pics/tennis-love.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Old school tennis game written on JavaScript</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/cadastre" class="portfolio_block_link">
            <img src="imgs/index/pics/cadastre.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Little pretty form</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/zazor" class="portfolio_block_link">
            <img src="imgs/index/pics/zazor.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page for selling tyres</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/pingbuller" class="portfolio_block_link">
            <img src="imgs/index/pics/pingbuller.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Responsive and crossbrowser web page</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/holiday" class="portfolio_block_link">
            <img src="imgs/index/pics/holiday.jpeg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with adaptive slider and masonry for retina scrrens</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/business" class="portfolio_block_link">
            <img src="imgs/index/pics/business.jpg" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">Web page with slider and jQuery menu</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/horloge" class="portfolio_block_link">
            <img src="imgs/index/pics/clock.jpg" alt="" class="portfolio_block_link_bg 
                                                                portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Pretty clock using css and jquery</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/google" class="portfolio_block_link">
            <img src="imgs/index/pics/google.png" alt="" class="portfolio_block_link_bg">
        </a>
        <p class="portfolio_block_text">My own google search engine imitation</p>
    </div>
    <div class="portfolio_container_block">
        <a href="projects/asia" class="portfolio_block_link">
            <img src="imgs/index/pics/asia.jpeg" alt="" class="portfolio_block_link_bg
                                                            portfolio_block_link_bg_remark1">
        </a>
        <p class="portfolio_block_text">Yet another pretty web page</p>
    </div>
</section>

<footer>
    <div class="portfolio_footer_block">
        <p class="portfolio_footer_logo">
            Handmade by me &copy; 2017.
        </p>
        <%- partial('partials/socialNavigation') %>
    </div>
</footer>
